@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* *{
  
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
} */


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar-light .navbar-nav .nav-link {
    color: white;
}


/* skills stylling */
.carte1:hover{
    background: crimson;
}





/* contact section styling */

.contact .title::after{
    content: "get in Touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}


.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row .i{
    font-size: 25px;
    color: crimson;
}

.contact .cosntact-content .row .head{
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title{
    color: #333;
}  














