@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



header .navbar li a:hover{
    color: black;
    border-bottom: 2px solid #cc0033;
}



/* *{
  
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
} */


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar-light .navbar-nav .nav-link {
    color: white;
}

 /* skills stylling  */


 .progress {
    height: 25px;
      border-radius:20px;
  
  }
  
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
  }
  span {
    
      display:block;
      position: relative;
      font-size: 13px;
      font-weight: 600;
      text-transform:uppercase;
      color: #888888;
      line-height: 17px;
      margin-bottom:5px;
  }
  .progress-bar {
    text-align: left;
  
    border-radius:20px;
    transition-duration: 3s;
  }


 .skills .column .right .bars{
     margin-bottom: 15px;
 }

 .skills .column .right .info{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }



.contact .contact-content .left p{
    text-align: justify;
}


.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row .i{
    font-size: 25px;
    color: crimson;
}

.contact .cosntact-content .row .head{
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title{
    color: #333;
}  

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}
















