@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 100px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #ec0333;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s ease;
}

.navbar .sticky{
    padding: 15px 0;
    background: #ec0333;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
} 


.navbar .logo a span{
    color: black;
    transition: all 0.3s ease;
}

.navbar .sticky .menu li a:hover{
    color: white;
} 

.navbar .menu li {
    list-style: none;
    display: inline-block; 
}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transform: color 0.3s ease;

}
.navbar .menu li a:hover{
    color: black;  
}

.navbar .sticky .menun li a:hover{
    color: white;
}

/* menu styling */
.menu-btn{
    color:black;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */

.home{
     display: flex;
     background: url(img/lomba.png) no-repeat center z-index 1;
     /* width: 100%; */
     /* height: 600px; */
     height: 100vh;
     color: white;
     min-height: 500px;
     font-family: 'poppins' sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .texte-1{
    font-size: 27px;
}

.home .home-content .texte-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}


.home .home-content .texte-3{
    font-size: 27px;
    margin: 5px 0;
}

.home .home-content .texte-3 span{
    font-weight: 500;
    color: black;
    z-index: 2;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size:25px;
    padding:12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
       
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */

.about {
    font-family: 'poppins', sans-serif;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}

.about .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.about .title::after{
    content: who i am;
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: #ec0333;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-tracks: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 6px;
}




/* responsive media query start */
@media (max-width: 1104px){
    .home .max-width{
        margin-left: 1px;
    }

}

@media (max-width: 991px){

}


@media (max-width:947px ){
    .max-width{
        padding: 0 5px;
    }
    .menu-btn{
        z-index: 999;
        display: block;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #ec0333;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block ;
        margin: 20px 0;
        font-size: 25px;
    }

}

.home .home-content .texte-2{
    font-size: 70px;
}


.home .home-content .texte-3{
    font-size: 35px;
}

.home .home-content a{
    font-size: 23px;
    padding:10px 30px;
}


@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .texte-2{
        font-size: 60px;
    }

    .home .home-content .texte-3{
        font-size: 32px
    }
    .home .home-content a{
        font-size: 20px;
        /* padding: 9px 25px; */
    }
}

@media (max-width: 500px){
    .home .home-content .texte-2{
        font-size: 50px;
    }
    .home .home-content .texte-3{
        font-size: 27px;
    }
}



    









































